<footer class="whiteFooter">
    <section class="connect">
        <img src="assets/img/footer-logo-bg-white.svg" alt="">
        <h2>We collaborate with ambitious brands and people. <span>Let's connect</span> :) </h2>
        <div>
            <h4> <div class="dot"></div> Stay in the Know </h4>
            <p>Email Address</p>
        </div>
        <div>
            <h4> <div class="dot"></div> Social </h4>
            <ul>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>LinkedIn</li>
                <li>Facebook</li>
            </ul>
        </div>
        <div>
            <h4> <div class="dot"></div> Initiatives </h4>
            <ul>
                <li>Crafted</li>
                <li>Cultural</li>
                <li>Applied</li>
                <li>Brandbeats</li>
                <li>Moves</li>
            </ul>
        </div>
        <div>
            <h4> <div class="dot"></div> Offices </h4>
            <ul>
                <li>San Diego - CA</li>
                <li>Bay Area - CA</li>
                <li>St. Louis - MO</li>
            </ul>
        </div>
    </section>
    <section class="terms">
        <p>BASIC®, INC 10 - 20©</p>
        <p>EASY TO UNDERSTAND, IMPOSSIBLE TO IGNORE.™</p>
        <p>TERMS, PRIVACY POLICY</p>
    </section>
</footer>