<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<section id="overlay">
    <article class="overlay-hero">
        <h3>(6) Internal Works <br> ©2020 c/o BASIC®</h3>
        <h3>A collection of internal project and initiatives under <br> the BASIC® brand.</h3>
        <img src="assets/img/close.svg" alt="" onclick="off()">
    </article>
    <article class="selected">
        <div>
            <figure>
                <img src="assets/img/selected-work1.jpg" alt="">
                <figcaption>
                    <h2>Culture Manual® ©2018</h2>
                    <h3>Agency Culture & Onboarding</h3>
                    <p class="hidden">To help strengthen our culture and attract world class talent, we created the Culture Manual – an online guide for new hires that differentiates the employee onboarding process and builds alignment for our collective future.
                    </p>
                    <a href="">Visit the Site</a>
                </figcaption>
            </figure>
            <p class="numSelect">01</p>
        </div>
        <div>
            <figure>
                <img src="assets/img/selected-work2.jpg" alt="">
                <figcaption>
                    <h2>Moves® ©2019</h2>
                    <h3>Our New HQ</h3>
                    <p class="hidden">When we moved into our new HQ, we put together a site experience providing an in-depth look into the two-year process imagining, designing, and developing our new office we call home.
                    </p>
                    <a href="">Visit the Site</a>
                </figcaption>
            </figure>
            <p class="numSelect">02</p>
        </div>
        <div>
            <figure>
                <img src="assets/img/selected-work3.jpg" alt="">
                <figcaption>
                    <h2>Culture Manual® ©2018</h2>
                    <h3>Agency Culture & Onboarding</h3>
                    <p class="hidden">To help strengthen our culture and attract world class talent, we created the Culture Manual – an online guide for new hires that differentiates the employee onboarding process and builds alignment for our collective future.
                    </p>
                    <a href="">Visit the Site</a>
                </figcaption>
            </figure>
            <p class="numSelect">03</p>
        </div>
        <div>
            <figure>
                <img src="assets/img/selected-work4.jpg" alt="">
                <figcaption>
                    <h2>Culture Manual® ©2018</h2>
                    <h3>Agency Culture & Onboarding</h3>
                    <p class="hidden">To help strengthen our culture and attract world class talent, we created the Culture Manual – an online guide for new hires that differentiates the employee onboarding process and builds alignment for our collective future.
                    </p>
                    <a href="">Visit the Site</a>
                </figcaption>
            </figure>
            <p class="numSelect">04</p>
        </div>
        <div>
            <figure>
                <img src="assets/img/selected-work5.jpg" alt="">
                <figcaption>
                    <h2>Culture Manual® ©2018</h2>
                    <h3>Agency Culture & Onboarding</h3>
                    <p class="hidden">To help strengthen our culture and attract world class talent, we created the Culture Manual – an online guide for new hires that differentiates the employee onboarding process and builds alignment for our collective future.
                    </p>
                    <a href="">Visit the Site</a>
                </figcaption>
            </figure>
            <p class="numSelect">05</p>
        </div>
    </article>
</section>
