<nav>
    <a href="/"><img src="assets/img/logo_pink.svg" alt="" class="logo"></a>
    <ul id="navPink">
        <li><a href="/work">Work</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/thinking">Thinking</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <img src="assets/img/menu_pink.svg" alt="" class="dots"onclick="on()">
</nav>