<%- include('./partials/head') %>
<section class="bg-white">
<%- include('./partials/navBlack') %>
<section class="error">
    <h1>404</h1>
    <h2>PAGE NOT FOUND</h2>
    <p>The page you are looking for might have beeen removed, had its name changed or is temporarily unavailable.</p>
    <a href="/">Go back to Homepage</a>
</section>

</section>
<%- include('./partials/footer') %>
